# ENTORNO
ENVIRONMENT=development

# API
API_PORT=8000

# APP
APP_NAME=Trading API
APP_VERSION=3.0.0
APP_DESCRIPTION=API completa para gestión de trades con autenticación JWT

# AUTH
ENCODE=utf-8

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# DATABASE
POSTGRES_USER=usuario
POSTGRES_PASSWORD=password
POSTGRES_DB=nombre_db
DATABASE_URL=postgresql://usuario:password@localhost:5432/nombre_db

# DEBUG
DEBUG=true

# JWT
SECRET_KEY=cambiar-por-una-clave-segura-en-produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60